# App
PORT=3000
NODE_ENV=development

#Frontend
URL_FRONTEND=http://localhost:4200 # colocar un * para permitir todos los orígenes o la ruta local del frontend

# DB Config (App)
DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=name-db

# DB Config (Docker)
POSTGRES_PASSWORD=password

# TypeORM
TYPEORM_SYNCHRONIZE=true
