services:
  postgres-test:
    image: postgres:17
    container_name: todo-db-test
    restart: always
    env_file:
      - .env.test
    ports:
      - '5433:5432'
    volumes:
      - postgres_test_data:/var/lib/postgresql/data

volumes:
  postgres_test_data:
